@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");

body,
html {
    height: 100%;
    background-color: #14274e !important;
}

h1 {
    font-size: 3.75em !important;
}

.active > .nav-link {
    color: #14274e !important;
    background-color: #fff !important;
    border-right: #14274e solid 1px;
}

.bg-dark-navy {
    background-color: rgb(11, 22, 42);
}

.ff-logo {
    font-family: "Mate SC";
}

.border-subscriber {
    border-color: #161d6f !important;
}

.btn-outline-subscriber {
    border-color: #161d6f !important;
    color: #161d6f !important;
}

.btn-outline-subscriber .active {
    background-color: #161d6f !important;
    color: white !important;
}

.border-installation {
    border-color: #810000 !important;
}

.btn-outline-installation {
    border-color: #810000 !important;
    color: #810000 !important;
}

.btn-outline-installation .active {
    background-color: #810000 !important;
    color: white !important;
}

.border-sales {
    border-color: #1f441e !important;
}

.btn-outline-sales {
    border-color: #1f441e !important;
    color: #1f441e !important;
}

.btn-outline-sales .active {
    background-color: #1f441e !important;
    color: white !important;
}
